/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Fantasque";
  src: local("Fantasque Sans Mono");
  src: url("/fonts/TypoPRO-FantasqueSansMono-Regular.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: "Fantasque", "Helvetica", sans-serif;
}


