<ng-container *ngIf="isDeleted">
  <div id="deletion-confirmation" class="epi-warning">This wisdom has been forgotten, now but dust in the wind...</div>
</ng-container>
<ng-container *ngIf="isDeleting && !isDeleted">
  <a id="cancel-delete" (click)="cancelDelete($event)">❌</a>
  <a id="confirm-delete" (click)="confirmDelete($event)">✔️</a>
  <span id="delete-warning" class="epi-warning">Do you really want to forget this wisdom?</span>
</ng-container>
<ng-container *ngIf="!isDeleting && !isDeleted">
  <a id="delete-button" (click)="clickDelete($event)">🗑️</a>
  <span id="epigram-content" class="epi-display" *ngIf="!isEditing" (click)="onClick($event)">{{epigram.content}}</span>
  <textarea id="epigram-editor"  #content *ngIf="isEditing" name="content" (keydown)="onKeyDown($event)" (blur)="onBlur($event)">{{epigram.content}}</textarea>
</ng-container>

