<div class="letter_back">
  <!--
  <div [hidden]="isAnimationComplete">
    <div class="letter">{{oldCharacter}}</div>
  </div>
  -->
  <div class="letter" (click)="tapTheFlap($event)">
    <div class="top_letter">
      <span>{{topCharacter}}</span>
    </div>
    <div class="bottom_letter">
      <span>{{bottomCharacter}}</span>
    </div>
    <div class="split"></div>
    <div [class.top_letter]="flapTop" [class.bottom_letter]="!flapTop" #flap [class.secret]="!showFlapCharacter" [class.flipping_start]="topFlipping" [class.flipping_end]="bottomFlipping">
      <span>{{flapCharacter}}</span>
    </div>
  </div>
</div>
