.letter {
  position: absolute;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  background: #191919;
  background: linear-gradient(180deg,rgba(25, 25, 25, 1) 0%, rgba(17, 17, 17, 1) 48%, rgba(200, 200, 200, 1) 50%, rgba(17, 17, 17, 1) 52%, rgba(25, 25, 25, 1) 100%);
  color: white;
  height: 30px;
  width: 20px;
  text-align: center;
  line-height: 30px;
}

.letter_back {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  background: black;
  color: white;
  padding: 2px;
  height: 30px;
  width: 20px;
  text-align: center;
  line-height: 30px;
  position: relative;
}
